<h1>Carlvin John R. Gonzales</h1>
<table border="1" align="center">
  <caption><tr><th>Personal Information</th></tr></caption>
  <tr>
    <th>GENDER:</th>
    <td>Male</td>
  </tr>
  <tr>
    <th>AGE:</th>
    <td>20 Years Old</td>
  </tr>
  <tr>
    <th>STATUS:</th>
    <td>Single</td>
  </tr>
  <tr>
    <th>BIRTHDAY:</th>
    <td>April 24, 2001</td>
  </tr>
  <tr>
    <th>RELIGION:</th>
    <td>Catholic</td>
  </tr>
  <tr>
    <th>CP NO.:</th>
    <td>09368225986</td>
  </tr>
  <tr>
    <th>EMAIL:</th>
    <td>Gonzales.carlvin24@gmail.com</td>
  </tr>
  <tr>
    <th>ADDRESS:</th>
    <td>D.S Garcia, Cabanatuan City, Nueva Ecija</td>
  </tr>
</table>